<html>
<body>
<table cellpadding="0" cellspacing="0" width="620" border="0" align="center">
   <tbody>
      <tr>
         <td style="background:#fff;padding:20px 15px;font-family:Open Sans,Arial,Helvetica,sans-serif;font-size:14px;color:#666666">
            <p>Dear $data.userName,</p>
            <p>Application Name: $data.applicationName</p>
            <p>Date: $!data.formatDate($!data.date)</p>
            <p>Application Action: $data.applicationAction</p>
            <p>For assistance, please contact us at <a href="mailto:help-ceiced@nascentinfo.com" target="_blank">help-ceiced@nascentinfo.com</a> </p>
            <p>Sincerely, CEICED Team </p>
         </td>
      </tr>
   </tbody>
</table>
</body>
</html>