<table cellpadding="0" cellspacing="0" width="620" border="0" align="center">
   <tbody>
      <tr>
         <td style="padding-bottom:20px;padding-top:30px"><a href="http://www.ceiced.gujarat.gov.in" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.ceiced.gujarat.gov.in&amp;source=gmail&amp;ust=1516950225147000&amp;usg=AFQjCNHqZrWpTLtjnI25C3NpnsAPGTn84w"><img src="https://ci6.googleusercontent.com/proxy/4BfmTC0rqTBw6paXchPQ7EZvWOWtMJYVFxq5jhj2vBMxbAPMZ0pqC2iy9bMS=s0-d-e1-ft#http:///images/logo.png" alt="" width="342" height="98" border="0" class="CToWUd"></a></td>
      </tr>
      <tr>
         <td style="font-family:Open Sans,Arial,Helvetica,sans-serif;font-size:20px;color:#fff;text-align:right;background:#212121;padding:0px 10px 3px 10px">Verify your email address</td>
      </tr>
      <tr>
         <td style="background:#fff;padding:20px 15px;font-family:Open Sans,Arial,Helvetica,sans-serif;font-size:14px;color:#666666">
            <p>Dear $data.userName,</p>
            <p><span>Your account at CEICED has been successfully created.<br><br>
               To complete the sign up process, you must verify your account by following these steps,
               - Click on the verify your account button below.
               #*Your User ID is $data.userId*#
                <br/>

               <a href="http://nascentlayers.com/cei?uid=$data.uniqueId&code=$data.emailCode#verify-email" target="_blank" style="background: #ffa645;padding: 0px 20px;border: 1px solid #f18400;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    overflow: visible;
    font-family: Open Sans,Arial,Helvetica,sans-serif;
    text-decoration: none;
    border-radius: 2px;">Verify your account</a>

            </p>

            <p>
                If you are not able to click on the button above, copy & paste the following URL to your browser address bar
               <br/>
                <b>http://nascentlayers.com/cei?uid=$data.uniqueId&code=$data.emailCode#verify-email</b>

                #*<span>Activate account by <br>
                UniqueId: $data.uniqueId <br>
                activationCode: $data.emailCode*#
            </p>
<br/>
            <p>
                Once your account has been verified, you will be able to login to the system.
                If you are unable to open the page, please copy and paste the link into your browser bar.

            </p>
             <br/>
            <p>
                <b>Important note:</b> Please add this "from" email address ()
                to your contact list so that your activation email and other notifications from our site
                don't get caught in your spam/junk mail folder.

            </p>
            <br/>
            <p>For assistance, please contact us at <a href="mailto:%7Bsupport_email%7D" target="_blank">help-ceiced@nascentinfo.com</a></p>
            <p>Sincerely,<br>
               CEICED Team<br>
               <a href="http://www.ceiced.gujarat.gov.in" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.ceiced.gujarat.gov.in&amp;source=gmail&amp;ust=1516950225147000&amp;usg=AFQjCNHqZrWpTLtjnI25C3NpnsAPGTn84w">http://www.ceiced.gujarat.gov.<wbr>in</a>
            </p>
            <p></p>
         </td>
      </tr>
      <tr>
         <td style="font-family:Open Sans,Arial,Helvetica,sans-serif;font-size:12px;color:#9c9ea1;padding-top:15px;padding-bottom:30px">© CEICED. All Rights Reserved.</td>
      </tr>
   </tbody>
</table>