<html>
    <head>
        <title>$!data.applicationName</title>
        <style>
            html, body {height:100%; width:100%; font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
            body {font-family: arial, sans-serif; font-size: 14px; color:#333; background-color:#fff; padding: 0; margin: 0;}

            .container-fluid {max-width: 1230px; padding-top: 20px; padding-bottom: 20px; margin: 0 auto;}

            h2 {font-size: 20px; color: #000; text-transform: uppercase; padding:25px 0 10px; font-weight:normal;}
            .hr {border-bottom: 1px dotted #333; height: 2px; width: 100%; margin: 10px 0;}
            p {padding-bottom: 20px; line-height: 22px;}
            table { border-collapse: collapse; border-spacing: 0;}

            .tableCss {margin: 10px -10px; width: 100%;}
            .tableCss th, .tableCss td {width: 33.3333%; padding:10px; line-height:normal; text-align: left; border: 0 !important;}
            .tableCss td.colSpa-66  {width: 66.6666%;}
            .tableCss td.colSpa-100  {width: 100%;}
            .tableCss td > div {font-weight: bold; padding-bottom: 15px;}
            .tableCss td > div > span {font-weight: normal; display: block; padding-top: 5px; color: #999;}
            .tableCss tr:nth-child(odd) th { background-color: #f2f2f2; }
            .tableCss tr:nth-child(even) th { background-color: #ffffff;}

            .tableFormat {margin: 10px 0; width: 100%; }
            .tableFormat th, .tableFormat td {padding:10px; line-height:normal; text-align: left;}

            .firstBottom-tl {border: 1px solid #999 !important; /*margin:0 10px;*/ }
            .firstBottom-tl tr > th {border-bottom: 1px solid #999;}
            .firstBottom-tl th {background-color: #F1F1F1;}
            .topBorder > td {border-top: 1px solid #999;}
            .firstBottom-tl tr > th:first-child {border-right:1px solid #999;}
            .firstBottom-tl tr > td:first-child {border-right:1px solid #999;}

            .print {border: 0; background: #333; color: #fff; padding: 10px 15px; cursor: pointer;}

            @media print {
                .container-fluid { width: 100%;}
                table {page-break-inside:auto;}
                tr{ page-break-inside:avoid; page-break-after:auto }
            }
        </style>
    </head>
<body>
    <div class="container-fluid">
        <h2>
            <center>CHIEF ELECTRICAL INSPECTOR AND COLLECTOR OF ELECTRICITY DUTY
                <br>$data.applicationName
            </center>
        </h2>
        <div style="text-align: right;">
            Date:<script> document.write(new Date().toLocaleDateString("en-GB")); </script>
        </div>
        <table class="tableCss">
            <tr>
                <td>
                    <div>1. is there any change or correction in name?</div>
                  $!data.isNameCorrection
                </td>
            </tr>
        </table>
        #if($!data.isNameCorrection == 'Yes')
            <table class="tableCss">
                <tr>
                    <td>
                        <div>2. Name of contractor (In case of name change)</div>
                        $!data.applicantContractorName
                    </td>
                </tr>
            </table>
        #end

        <table class="tableCss">
            <tr>
                <td>
                    <div>3. Contractor license no.</div>
                    $!data.contractorLicenseNo
                </td>
                <td>
                    <div>4. Date of issue of license</div>
                    $!data.formatDate($!data.licenseNoIssueDate)
                </td>
                <td>
                    <div>5. Is there any change in address ?</div>
                    $!data.isAddressChange
                </td>
            </tr>
        </table>

        <h3>6. Office Address (In case of address change)</h3>
        #if($!data.isAddressChange == 'Yes')
            <table class="tableCss">
                <tr>
                    <td>
                        <div>6.1. House No. / Flat No. / Block No.</div>
                        #if($!data.officeAddress.houseNo != '')
                            $!data.officeAddress.houseNo
                        #else
                            &nbsp;
                        #end
                    </td>
                    <td>
                        <div>6.2 Building Name / Apartment Name</div>
                        $!data.officeAddress.buildingName
                    </td>
                    <td>
                        <div>6.3 State</div>
                        $!data.officeAddress.state
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>6.4 District</div>
                        $!data.officeAddress.district
                    </td>
                    <td>
                        <div>6.5 Taluka</div>
                        $!data.officeAddress.talukaName
                    </td>
                    <td>
                        <div>6.6 Village / City</div>
                        $!data.officeAddress.village
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>6.7 Pincode</div>
                        $!data.officeAddress.pincode
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        #end
        <div class="hr"></div>

        <table class="tableCss">
            <tr>
                <td colspan="3">
                    <div>Attach Document
                        <span>6.8 Attach electricty bill for address proof or any Govt. valid ID proof </span>
                    </div>
                  $!data.getAttachment("6.7")
                </td>
            </tr>
        </table>

        <p>
            #if ($data.iagree)
                <input type="checkbox" id="iagree" name="iagree" checked disabled>
            #else
                <input type="checkbox" id="iagree" name="iagree" disabled>
            #end

            I hereby declare that the particular stated above are correct and true to the best my knowledge.
        </p>
        <p>
            <button class="print" onclick="window.print()">Print This Page</button>
        </p>
    </div>
</body>
</html>