<html>
<head>
    <title>$!data.applicationName</title>
    <style>
        html, body {height:100%; width:100%; font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
    body {font-family: arial, sans-serif; font-size: 14px; color:#333; background-color:#fff; padding: 0; margin: 0;}
    .container-fluid {width: 100%; max-width: 1230px; padding: 20px; margin: 0 auto; box-sizing: border-box; }

    .al {float: left;}
    .ar {float: right;}

    ol, ul {display: block; padding:5px 0 5px 15px; margin: 0; }
    li {padding: 1px 0;}
    ol {list-style-type: decimal;}
    ul {list-style-type: disc;}
    .circleBorder {list-style-type: circle;}
    .lowerLatin {list-style-type: lower-latin;}
    .lowerRoman {list-style-type: lower-roman;}
    .listing {list-style-type: none; padding-left: 0;}

    img { border: 0; vertical-align: top;}

    h1 {font-size: 22px; padding: 0 0 10px 0; font-family:Times New Roman, arial, serif; margin: 0; text-align: center; color: #000; text-transform: uppercase; font-weight:normal;}
    h2 {font-size: 20px; color: #000; text-transform: uppercase; padding:25px 0 10px; font-weight:normal;}
    .hr {border-bottom: 1px dotted #333; height: 2px; width: 100%; margin: 10px 0;}
    p {padding-bottom: 20px; line-height: 22px; text-align: justify;}
    table { border-collapse: collapse; border-spacing: 0;}
    .paragraph { text-indent: 35px;}

    .tableCss {margin: 10px -10px; width: 100%;}
    .tableCss th, .tableCss td {width: 33.3333%; padding:10px; line-height:normal; text-align: left; border: 0 !important;}

    .threePlusTd td {float: left; display: block; box-sizing: border-box;}

    .tableCss td.colSpa-66  {width: 66.6666%;}
    .tableCss td.colSpa-100  {width: 100%;}
    .tableCss td > div {font-weight: bold; padding-bottom: 15px;}
    .tableCss td > div > span {font-weight: normal; display: block; padding-top: 5px; color: #999;}
    .tableCss tr:nth-child(odd) th { background-color: #f2f2f2; }
    .tableCss tr:nth-child(even) th { background-color: #ffffff;}

    .tableFormat {margin: 10px 0; width: 100%; }
    .tableFormat th, .tableFormat td {padding:10px; line-height:normal; text-align: left; word-break:break-word;}

    .firstBottom-tl {border: 1px solid #999 !important; /*margin:0 10px;*/ }
    .firstBottom-tl tr > th {border-bottom: 1px solid #999;}
    .firstBottom-tl th {background-color: #F1F1F1;}
    .topBorder > td {border-top: 1px solid #999;}
    .firstBottom-tl tr > th:first-child {border-right:1px solid #999;}
    .firstBottom-tl tr > td:first-child {border-right:1px solid #999;}

    .paddBotZero {padding-bottom: 0 !important;}
    .liteFont td {color:#999;}

    .print {border: 0; background: #333; color: #fff; padding: 10px 15px; cursor: pointer;}


    .tableLine, .tableBroder {width: 100%; margin: 0 0 15px 0 !important;}
    .tableLine th, .tableLine td, .tableBroder td, .tableBroder th {padding:10px; line-height:normal; text-align: left; border:1px solid #999 !important;}
    .tableLine th, .tableBroder th {background-color: #F1F1F1;}

    .tableBroder-2 {width: 100%; margin: 0 0 15px 0 !important;}
    .tableBroder-2 td, .tableBroder-2 th {padding:10px; line-height:normal; text-align: left; border:2px solid #999;}
    .tableBroder-2 th {background-color: #F1F1F1;}

    .ac, .center, .center th, .center td {text-align: center !important;}

    @media print {
        .container-fluid { width: 100%; padding: 0;}
        table {page-break-inside:auto !important;}
        tr{ page-break-inside:avoid !important; page-break-after:auto !important;}
        th, td {word-break:normal !important;}
        .newPagePrint {page-break-before: always;}
    }

    </style>
</head>
<body>
    <div class="container-fluid">
        <h2><center>DEMO CHIEF ELECTRICAL INSPECTOR AND COLLECTOR OF ELECTRICITY DUTY
            <br>$data.applicationName
        </center>
        </h2>
        <div style="text-align: right;">
            Date:<script> document.write(new Date().toLocaleDateString("en-GB")); </script>
        </div>
        <table class="tableCss">
            <tr>
                <td>
                    <div>1. Technical Contractor’s Name</div>
                    $!data.getApplicantName()
                </td>
                <td>
                    <div>2. Date of issue</div>
                    $!data.formatDate($!data.issueDate)
                </td>

                <td>
                    <div>3. Contractor license number</div>
                    $!data.contractorLicNo
                </td>

                <td>&nbsp;</td>
            </tr>
        </table>


        <h2>4. OFFICE ADDRESS</h2>
        <table class="tableCss">
            <tr>
                <td>
                    <div>4.1 Office no./ Block No.</div>
                    $!data.officeAddress.houseNo
                </td>
                <td>
                    <div>4.2 Building Name</div>
                    $!data.officeAddress.buildingName
                </td>
                <td>
                    <div>4.3 State</div>
                    $!data.officeAddress.state
                </td>
            </tr>
            <tr>
                <td>
                    <div>4.4 District</div>
                    $!data.officeAddress.district
                </td>
                <td>
                    <div>4.5 Taluka</div>
                    $!data.officeAddress.talukaName
                </td>
                <td>
                    <div>4.6 Village / City</div>
                    $!data.officeAddress.village
                </td>
            </tr>
            <tr>
                <td>
                    <div>4.7 Pincode</div>
                    $!data.officeAddress.pincode
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>

        <div class="hr"></div>

 <table class="tableFormat firstBottom-tl">
            <tr class="tableLine">
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th colspan="2" style="text-align:center">Wiring department Persons</th>
                <th colspan="2" style="text-align:center">Date</th>
                <th>&nbsp;</th>
            </tr>
            <tr class="tableLine">
                <th>S no.</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Permit No</th>
                <th>JoiningDate</th>
                <th>LeavingDate</th>
                <th>Job status</th>
            </tr>
            #foreach( $!empl in $!data.employer)
                <tr class="tableLine">
                    <td>$velocityCount</td>
                    <td>$!empl.name</td>
                    <td>$!empl.designation</td>
                    <td>$!empl.permitNo</td>
                    <td>$!data.formatDate($!empl.joiningDate)</td>
                    <td>$!data.formatDate($!empl.leavingDate)</td>
                    <td>$!empl.isInactive</td
                </tr>
            #end

            #foreach( $!empl in $!data.employer)

                #if($!empl.designation == 'SUPERVISOR')
                    <table class="tableCss tableLine">
                        <thead>
                        <tr>
                            <th colspan="3">$velocityCount $!empl.name</th>
                        </tr>
                        </thead>
                        <tr>
                            <td><div><span>1.1 Supervisor Permit Letter</span></div>
                                #set ($x = "1.1." + "$empl.id")
                                $!data.getAttachment($x)
                            </td>
                            <td><div><span>1.2 Declaration </span></div>
                                #set ($x = "1.2." + "$empl.id")
                                $!data.getAttachment($x)
                            </td>
                            <td><div><span>1.3 Supervisor appointment letter </span></div>
                                #set ($x = "1.3." + "$empl.id")
                                $!data.getAttachment($x)
                            </td>
                        </tr>

                        <tr>
                            <td><div><span>1.4 School Leaving Certificate</span></div>
                                #set ($x = "1.4." + "$empl.id")
                                $!data.getAttachment($x)
                            </td>
                            <td><div><span>1.5 Supervisor Permit </span></div>
                                #set ($x = "1.5." + "$empl.id")
                                $!data.getAttachment($x)
                            </td>
                            <td><div><span>1.6 Supervisor Certificate</span></div>
                                #set ($x = "1.6." + "$empl.id")
                                $!data.getAttachment($x)
                            </td>
                        </tr>
                        <tr>
                            <td><div><span>1.7 Supervisor experience letter (if experienced)</span></div>
                                #set ($x = "1.7." + "$empl.id")
                                $!data.getAttachment($x)
                            </td>
                            <td><div><span>1.8 Supervisor's previous contractor's Form I certified copy (if experienced)</span></div>
                                #set ($x = "1.8." + "$empl.id")
                                $!data.getAttachment($x)
                            </td>
                            <td><div><span>1.9 Other </span></div>
                                #set ($x = "1.9." + "$empl.id")
                                $!data.getAttachment($x)
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td><div><span>Other</span></div>
                                $!empl.otherAttachmentName
                            </td>
                        </tr>
                    </table>

                #end
            #end
        </table>
        <p>
            <button class="print" onclick="window.print()">Print This Page</button>
        </p>
    </div>
</body>
</html>