<html>
<head>
    <title>
        $data.applicationName
    </title>
    <style>
        html, body {height:100%; width:100%; font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
        body {font-family: arial, sans-serif; font-size: 14px; color:#333; background-color:#fff; padding: 0; margin: 0;}

        .container-fluid {max-width: 1230px; padding-top: 20px; padding-bottom: 20px; margin: 0 auto;}

        h2 {font-size: 20px; color: #000; text-transform: uppercase; padding:25px 0 10px; font-weight:normal;}
        .hr {border-bottom: 1px dotted #333; height: 2px; width: 100%; margin: 10px 0;}
        p {padding-bottom: 20px; line-height: 22px;}
        table { border-collapse: collapse; border-spacing: 0;}

        .tableCss {margin: 10px -10px; width: 100%;}
        .tableCss th, .tableCss td {width: 33.3333%; padding:10px; line-height:normal; text-align: left; border: 0 !important;}
        .tableCss td.colSpa-66  {width: 66.6666%;}
        .tableCss td.colSpa-100  {width: 100%;}
        .tableCss td > div {font-weight: bold; padding-bottom: 15px;}
        .tableCss td > div > span {font-weight: normal; display: block; padding-top: 5px; color: #999;}
        .tableCss tr:nth-child(odd) th { background-color: #f2f2f2; }
        .tableCss tr:nth-child(even) th { background-color: #ffffff;}

        .tableFormat {margin: 10px 0; width: 100%; }
        .tableFormat th, .tableFormat td {padding:10px; line-height:normal; text-align: left;}

        .firstBottom-tl {border: 1px solid #999 !important; /*margin:0 10px;*/ }
        .firstBottom-tl tr > th {border-bottom: 1px solid #999;}
        .firstBottom-tl th {background-color: #F1F1F1;}
        .topBorder > td {border-top: 1px solid #999;}
        .firstBottom-tl tr > th:first-child {border-right:1px solid #999;}
        .firstBottom-tl tr > td:first-child {border-right:1px solid #999;}

        .print {border: 0; background: #333; color: #fff; padding: 10px 15px; cursor: pointer;}

        @media print {
            .container-fluid { width: 100%;}
            table {page-break-inside:auto;}
            tr{ page-break-inside:avoid; page-break-after:auto }
        }
    </style>

</head>
<body>
<div class="container-fluid">
    <h1>CHIEF ELECTRICAL INSPECTOR AND COLLECTOR OF ELECTRICITY DUTY
        <div>$data.applicationName</div>
    </h1>

    <div style="text-align: right;">
        Date:<script> document.write(new Date().toLocaleDateString("en-GB")); </script>
    </div>
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td>
                <div>1. Name of the owner/applicant</div>
              $!data.applicantName
            </td>
        </tr>
    </table>
    <div class="hr"></div>
    <h3>2. Address of the owner/applicant</h3>
    <table class="tableCss">
        <tr>
            <td>
                <div>2.1 House No. / Flat No. / Block No.</div>
                #if($!data.applicantAddress.houseNo != '')
                    $!data.applicantAddress.houseNo
                #else
                    &nbsp;
                #end
            </td>
            <td>
                <div>2.2 Building name & Land mark</div>
              $!data.applicantAddress.buildingName
            </td>
            <td>
                <div>2.3 State</div>
              $!data.applicantAddress.state
            </td>
        </tr>
    </table>
    <table class="tableCss">
        <tr>
            <td>
                <div>2.4  District</div>
              $!data.applicantAddress.district
            </td>
            <td>
                <div> 2.5 Taluka</div>
              $!data.applicantAddress.talukaName
            </td>
            <td>
                <div>2.6 Village / City</div>
                $!data.applicantAddress.village
            </td>

        </tr>
        <tr>
            <td>
                <div>2.7 Pincode</div>
                $!data.applicantAddress.pincode
            </td>
            <td>
                <div>2.8 Email Id</div>
              $!data.applicantEmail
            </td>

            <td>
                <div>2.9 Mobile number</div>
              $!data.applicantMobile
            </td>
            <td></td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td>
                <div>3. Is there any appointed local agent?</div>
              $!data.isLocalAgentAppointed
            </td>
            <td >
                <div> 4. Name of the local agent</div>
              $!data.localAgentName
            </td>
            <td></td>
        </tr>
    </table>
    <div class="hr"></div>
    <h3>5. Address of the local agent</h3>
    <table class="tableCss">
        <tr>
            <td>
                <div>5.1 House No. / Flat No. / Block No.</div>
                #if($!data.localAgentAddress.houseNo != '')
                    $!data.localAgentAddress.houseNo
                #else
                    &nbsp;
                #end
            </td>
            <td>
                <div>5.2 Building name & Land mark</div>
              $!data.localAgentAddress.buildingName
            </td>
            <td>
                <div>5.3 State</div>
              $!data.localAgentAddress.state
            </td>
        </tr>
    </table>
    <table class="tableCss">
        <tr>
            <td>
                <div>5.4  District</div>
              $!data.localAgentAddress.district
            </td>
            <td>
                <div>5.5 Taluka</div>
              $!data.localAgentAddress.talukaName
            </td>
            <td>
                <div>5.6 Village / City</div>
                $!data.localAgentAddress.village
            </td>

        </tr>
        <tr>
            <td>
                <div>5.7 Pincode</div>
                $!data.localAgentAddress.pincode
            </td>
        </tr>
    </table>
    <table class="tableCss">
        <tr>

            <td>
                <div>5.8 Email Id</div>
              $!data.localAgentEmail
            </td>
            <td>
                <div>5.9 Mobile number or Landline No</div>
              $!data.localAgentContactNo
            </td>
            <td></td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td>
                <div>6. Name of site where the escalator is placed</div>
              $!data.escalatorSiteName
            </td>
        </tr>
    </table>
    <div class="hr"></div>
    <h3>7. Address of site  where the escalator is placed</h3>
    <table class="tableCss">
        <tr>
            <td>
                <div>7.1 TOWN PLANNING SCHEME NO</div>
              $!data.liftSiteAddress.schemeNo
            </td>
            <td>
                <div>7.2 FP NO</div>
              $!data.liftSiteAddress.fpNo
            </td>
            <td>
                <div>7.3 RS NO</div>
              $!data.liftSiteAddress.rsNo
            </td>
        </tr>
    </table>
    <table class="tableCss">
        <tr>
            <td>
                <div>7.4  SUB PLOT NO</div>
              $!data.liftSiteAddress.subPlotNo
            </td>
            <td>
                <div>7.5 BLOCK/TENAMENT NO</div>
              $!data.liftSiteAddress.tenamentNo
            </td>
            <td>
                <div>7.6 CITY SURVEY NO</div>
              $!data.liftSiteAddress.citySurveyNo
            </td>
        </tr>
    </table>
    <table class="tableCss">
        <tr>
            <td>
                <div>7.7 House No. / Flat No. / Block No.</div>
                #if($!data.liftSiteAddress.houseNo != '')
                    $!data.liftSiteAddress.houseNo
                #else
                    &nbsp;
                #end
            </td>

            <td>
                <div>7.8 Building name & Land mark</div>
              $!data.liftSiteAddress.buildingName
            </td>
            <td>
                <div>7.9 State</div>
              $!data.liftSiteAddress.state
            </td>
        </tr>
    </table>
    <table class="tableCss">
        <tr>
            <td>
                <div>7.10  District </div>
              $!data.liftSiteAddress.district
            </td>
            <td>
                <div>7.11 Taluka </div>
              $!data.liftSiteAddress.talukaName
            </td>
            <td>
                <div>7.12 Village / City</div>
                $!data.liftSiteAddress.village
            </td>
        </tr>
        <tr>
            <td>
                <div>7.13 Pincode</div>
                $!data.liftSiteAddress.pincode
            </td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td>
                <div>8. Name of the person who install Escalator</div>
              $!data.personName
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <h3>9. Address of the person who install Escalator</h3>
    <table class="tableCss">
        <tr>
            <td>
                <div>9.1 Block no. or office no.</div>
                #if($!data.personAddress.houseNo != '')
                    $!data.personAddress.houseNo
                #else
                    &nbsp;
                #end
            </td>
            <td>
                <div>9.2 Building name & Land mark</div>
              $!data.personAddress.buildingName
            </td>
            <td>
                <div>9.3 State</div>
              $!data.personAddress.state
            </td>
        </tr>
    </table>
    <table class="tableCss">
        <tr>
            <td>
                <div>9.4  District</div>
              $!data.personAddress.district
            </td>
            <td>
                <div>9.5 Taluka</div>
              $!data.personAddress.talukaName
            </td>
            <td>
                <div>9.6 Village / City</div>
                $!data.personAddress.village
            </td>
        </tr>
    </table>
    <table class="tableCss">
        <tr>
            <td>
                <div>9.7 Pincode</div>
                $!data.personAddress.pincode
            </td>
            <td>
                <div>9.8 Email Id</div>
              $!data.personEmail
            </td>
            <td>
                <div>9.9 Mobile Number</div>
              $!data.personMobile
            </td>
            <td></td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td>
                <div>10. Maker's name</div>
              $!data.makerName
            </td>
        </tr>
    </table>
            <div class="hr"></div>
    <h3>11. Maker's Address</h3>
    <table class="tableCss">
        <tr>
            <td>
                <div>11.1 Address line 1</div>
              $!data.makerAddress.addrLine1
            </td>
            <td>
                <div>11.2 Address line 2</div>
              $!data.makerAddress.addrLine2
            </td>
            <td>
                <div>11.3 Address line 3</div>
              $!data.makerAddress.addressLine3
            </td>
        </tr>
        <tr>
            <td>
                <div>11.4 Email address</div>
              $!data.makerEmail
            </td>
            <td>
                <div>11.5 Mobile or landline No.</div>
              $!data.makerMobile
            </td>
            <td></td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td>
                <div>12. Identification of Escalator </div>
              $!data.escalatorIdentification
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <div>12.1 From floor</div>
              $!data.fromFloor
            </td>
            <td>
                <div>12.2 To floor </div>
              $!data.toFloor
            </td>
            <td></td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td>
                <div>13. Type of escalator </div>
              $!data.escalatorType
            </td>
            <td>
                <div>14. Rated load (Kg) </div>
              $!data.ratedLoad
            </td>
            <td>
                <div>15. Rated Speed (m/s) </div>
              $!data.ratedSpeed
            </td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td>
                <div>16. The maximum number of persons which the escalator can carry.</div>
              $!data.escalatorPassengerCapacity
            </td>
            <td>
                <div>17. The angle of inclination of the escalator with the horizontal.</div>
              $!data.escalatorAngle
            </td>
            <td>
                <div>18. Width of escalator</div>
              $!data.escalatorWidth
            </td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td>
                <div>19. The vertical rise of the escalator</div>
              $!data.verticalRise
            </td>
            <td>
                <div>20. The number , description , weight and size of main drive chain step chain, hand rail drive chain and governor drive chain</div>
              $!data.description
            </td>
            <td>
                <div>21. The total head room</div>
              $!data.totalHeadRoom
            </td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td>
                <div>22. Details of construction </div>
              $!data.constructionDetails
            </td>
            <td>
                <div>23. The approximate reaction </div>
              $!data.approxReaction
            </td>
            <td></td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <h3>24. Attachments</h3>
        <tr>
            <td>
                <div><span>24.1 Proof of from local </span></div>
                $!data.getAttachment("24.1")
            </td>
            <td>
                <div><span>24.2 Proof of ownership </span></div>
                $!data.getAttachment("24.2")
            </td>
            <td>
                <div><span>24.3 Proof of sign </span></div>
                $!data.getAttachment("24.3")
            </td>
        </tr>
        <tr>
            <td>
                <div><span>24.4 Drawing of lift </span></div>
                $!data.getAttachment("24.4")
            </td>
        </tr>
    </table>
    <p>
        <button class="print" onclick="window.print()">Print This Page</button>
    </p>
</div>
<div>
    #if ($data.iagree)
        <input type="checkbox" id="iagree" name="iagree" checked disabled>
    #else
        <input type="checkbox" id="iagree" name="iagree" disabled>
    #end
    I myself is liable for prosecution for false information.
</div>
</body>
</html>