<html>
<head>
    <title>
        $data.applicationName
    </title>
    <style>
        html, body {height:100%; width:100%; font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
        body {font-family: arial, sans-serif; font-size: 14px; color:#333; background-color:#fff; padding: 0; margin: 0;}

        .container-fluid {max-width: 1230px; padding-top: 20px; padding-bottom: 20px; margin: 0 auto;}

        h2 {font-size: 20px; color: #000; text-transform: uppercase; padding:25px 0 10px; font-weight:normal;}
        .hr {border-bottom: 1px dotted #333; height: 2px; width: 100%; margin: 10px 0;}
        p {padding-bottom: 20px; line-height: 22px;}
        table { border-collapse: collapse; border-spacing: 0;}

        .tableCss {margin: 10px -10px; width: 100%;}
        .tableCss th, .tableCss td {width: 33.3333%; padding:10px; line-height:normal; text-align: left; border: 0 !important;}
        .tableCss td.colSpa-66  {width: 66.6666%;}
        .tableCss td.colSpa-100  {width: 100%;}
        .tableCss td > div {font-weight: bold; padding-bottom: 15px;}
        .tableCss td > div > span {font-weight: normal; display: block; padding-top: 5px; color: #999;}
        .tableCss tr:nth-child(odd) th { background-color: #f2f2f2; }
        .tableCss tr:nth-child(even) th { background-color: #ffffff;}

        .tableFormat {margin: 10px 0; width: 100%; }
        .tableFormat th, .tableFormat td {padding:10px; line-height:normal; text-align: left;}

        .firstBottom-tl {border: 1px solid #999 !important; /*margin:0 10px;*/ }
        .firstBottom-tl tr > th {border-bottom: 1px solid #999;}
        .firstBottom-tl th {background-color: #F1F1F1;}
        .topBorder > td {border-top: 1px solid #999;}
        .firstBottom-tl tr > th:first-child {border-right:1px solid #999;}
        .firstBottom-tl tr > td:first-child {border-right:1px solid #999;}

        .print {border: 0; background: #333; color: #fff; padding: 10px 15px; cursor: pointer;}

        @media print {
            .container-fluid { width: 100%;}
            table {page-break-inside:auto;}
            tr{ page-break-inside:avoid; page-break-after:auto }
        }
    </style>


</head>
<body>
<div class="container-fluid">
    <h1>CHIEF ELECTRICAL INSPECTOR AND COLLECTOR OF ELECTRICITY DUTY
        <div>$data.applicationName</div>
    </h1>

    <div style="text-align: right;">
        Date:<script> document.write(new Date().toLocaleDateString("en-GB")); </script>
    </div>
    <div class="hr"></div>

    <table class="tableCss">
        <tr>
            <td>
                <div>1. Name of the owner/applicant</div>
                $!data.applicantName
            </td>
        </tr>
    </table>
    <div class="hr"></div>
    <h3>2. Address of the owner/applicant</h3>
    <table class="tableCss">
        <tr>
            <td>
                <div>2.1 House No. / Flat No. / Block No.</div>
                #if($!data.applicantAddress.houseNo != '')
                    $!data.applicantAddress.houseNo
                #else
                    &nbsp;
                #end
            </td>
            <td>
                <div>2.2 Building Name / Apartment Name</div>
                $!data.applicantAddress.buildingName
            </td>

            <td>
                <div>2.3 State</div>
                $!data.applicantAddress.state
            </td>
        </tr>
    </table>
    <table class="tableCss">
        <tr>
            <td>
                <div>2.4  District</div>
                $!data.applicantAddress.district
            </td>

            <td>
                <div> 2.5 Taluka</div>
                $!data.applicantAddress.talukaName
            </td>
            <td>
                <div>2.6 Village / City</div>
                $!data.applicantAddress.village
            </td>
        </tr>
        <tr>
            <td>
                <div>2.7 Pincode</div>
                $!data.applicantAddress.pincode
            </td>
            <td>
                <div>2.8 Email Id</div>
                $!data.applicantEmail
            </td>

            <td>
                <div>2.9 Mobile Number</div>
                $!data.applicantContactNo
            </td>
            <td>
            </td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td>
                <div>3. Is there any appointed local agent?</div>
                $!data.localAgentAppointed
            </td>
            <td >
                <div> 4. Name of the local agent</div>
                $!data.localAgentName
            </td>
            <td></td>
        </tr>
    </table>
    <div class="hr"></div>
    <h3>5. Address of the local agent</h3>
    <table class="tableCss">
        <tr>
            <td>
                <div>5.1 House No. / Flat No. / Block No.</div>
                $!data.localAgentAddress.houseNo
            </td>
            <td>
                <div>5.2 Building Name / Apartment Name</div>
                $!data.localAgentAddress.buildingName
            </td>
            <td>
                <div>5.3 State</div>
                $!data.localAgentAddress.state
            </td>
        </tr>
    </table>
    <table class="tableCss">
        <tr>
            <td>
                <div>5.4  District</div>
                $!data.localAgentAddress.district
            </td>

            <td>
                <div>5.5 Taluka</div>
                $!data.localAgentAddress.talukaName
            </td>
            <td>
                <div>5.6 Village / City</div>
                $!data.localAgentAddress.village
            </td>
        </tr>
    </table>
    <table class="tableCss">
        <tr>
            <td>
                <div>5.7 Pincode</div>
                $!data.localAgentAddress.pincode
            </td>
            <td>
                <div>5.8 Email Id</div>
                $!data.localAgentEmail
            </td>

            <td>
                <div>5.9 Mobile Number</div>
                $!data.localAgentContactNo
            </td>
            <td></td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td>
                <div>6. Name of Site where the lift is placed</div>
                $!data.liftSiteName
            </td>
        </tr>
    </table>
    <div class="hr"></div>
    <h3>7. Address of site  where the lift is placed</h3>
    <table class="tableCss">
        <tr>
            <td>
                <div>7.1 TOWN PLANNING SCHEME NO</div>
                $!data.liftSiteAddress.schemeNo
            </td>
            <td>
                <div>7.2 FP NO</div>
                $!data.liftSiteAddress.fpNo
            </td>
            <td>
                <div>7.3 RS NO</div>
                $!data.liftSiteAddress.rsNo
            </td>
        </tr>
    </table>
    <table class="tableCss">
        <tr>
            <td>
                <div>7.4  SUB PLOT NO</div>
                $!data.liftSiteAddress.subPlotNo
            </td>

            <td>
                <div>7.5 BLOCK/TENAMENT NO</div>
                $!data.liftSiteAddress.tenamentNo
            </td>

            <td>
                <div>7.6 CITY SURVEY NO</div>
                $!data.liftSiteAddress.citySurveyNo
            </td>
        </tr>
    </table>
    <table class="tableCss">
        <tr>
            <td>
                <div>7.7 House No. / Flat No. / Block No.</div>
                $!data.liftSiteAddress.houseNo
            </td>
            <td>
                <div>7.8 Building Name / Apartment Name</div>
                $!data.liftSiteAddress.buildingName
            </td>
            <td>
                <div>7.9 State</div>
                $!data.liftSiteAddress.state
            </td>
        </tr>
    </table>
    <table class="tableCss">
        <tr>
            <td>
                <div>7.10  District</div>
                $!data.liftSiteAddress.district
            </td>

            <td>
                <div>7.11 Taluka</div>
                $!data.liftSiteAddress.talukaName
            </td>
            <td>
                <div>7.12 Village / City</div>
                $!data.liftSiteAddress.village
            </td>
        </tr>
        <tr>
            <td>
                <div>7.13 Pincode</div>
                $!data.liftSiteAddress.pincode
            </td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td>
                <div>8. Name of the person who install  lift</div>
                $!data.personName
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div class="hr"></div>
    <h3>9. Address of the person who install lift</h3>
    <table class="tableCss">
        <tr>
            <td>
                <div>9.1 House No. / Flat No. / Block No.</div>
                $!data.personAddress.houseNo
            </td>
            <td>
                <div>9.2 Building Name / Apartment Name</div>
                $!data.personAddress.buildingName
            </td>
            <td>
                <div>9.3 State</div>
                $!data.personAddress.state
            </td>
        </tr>
    </table>
    <table class="tableCss">
        <tr>
            <td>
                <div>9.4  District</div>
                $!data.personAddress.district
            </td>
            <td>
                <div>9.5 Taluka</div>
                $!data.personAddress.talukaName
            </td>
            <td>
                <div>9.6 Village / City</div>
                $!data.personAddress.village
            </td>
        </tr>
    </table>
    <table class="tableCss">
        <tr>
            <td>
                <div>9.7 Pincode</div>
                $!data.personAddress.pincode
            </td>
            <td>
                <div>9.8 Email Id</div>
                $!data.personEmail
            </td>
            <td>
                <div>9.9 Mobile Number</div>
                $!data.personMobile
            </td>
            <td>

            </td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td>
                <div>10. Type of Lift(Purpose of lift)</div>
                $!data.liftType
            </td>

            <td>
                <div>11. Sub-category of Lift</div>
                $!data.liftSubCategory
            </td>
            <td>
                <div>12. Make of Lift </div>
                $!data.makeLift
            </td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td>
                <div>13. Number of passangers </div>
                $!data.liftPassengerCapacity
            </td>
            <td>
                <div>14. Rated load (Kg) </div>
                $!data.ratedLoad
            </td>
            <td>
                <div>15. Rated Speed (m/s) </div>
                $!data.ratedSpeed
            </td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td>
                <div>16. The total weight of the lift car including the rated load </div>
                $!data.totalLiftWeight
            </td>
            <td>
                <div>17. The total weight of the counterweight... </div>
                $!data.totalCounterWeight
            </td>
            <td>
                <div>18. The number, description, weight and size of the suspension ropes.</div>
                $!data.suspensionRopeSize
            </td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td>
                <div>19. The pit depth</div>
                $!data.pitDepth
            </td>
            <td>
                <div>20. Travel in meters</div>
                $!data.travelMeters
            </td>
            <td>
                <div>20.1. Travel Time</div>
                $!data.travelTime
            </td>
        </tr>
    </table>
    <div class="hr"></div>
    <h3>21. Floors Details in Lift</h3>
    <table class="tableCss">
        <tr>
            <td>
                <div>21.1 Number of Basement Floors </div>
                $!data.basementFloors
            </td>
            <td>
                <div>21.2 Number of Ground floors</div>
                $!data.groundFloors
            </td>
            <td>
                <div>21.3 Number of Mezzaine floors</div>
                $!data.mezzaineFloors
            </td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td>
                <div>22. Number of floors served </div>
                $!data.servedFloors
            </td>
        </tr>
        <tr>
            <td>
                <div>23. Number of Entrances</div>
                $!data.entrances
            </td>
            <td>
                <div>23.1 Specify the floors which are closed? </div>
                $!data.floorClosed
            </td>
            <td></td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td>
                <div>24. Details of head room </div>
                $!data.headRoomDetail
            </td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <h3>25. Attachments</h3>
        <tr>
            <td>
                <div><span>25.1 Proof of from Local </span></div>
                $!data.getAttachment("24.1")
            </td>
            <td>
                <div><span>25.2 Proof of Ownership </span></div>
                $!data.getAttachment("24.2")
            </td>
            <td>
                <div><span>25.3 Proof of Sign </span></div>
                $!data.getAttachment("24.3")
            </td>
        </tr>
        <tr>
            <td>
                <div><span>25.4 Drawing of Lift </span></div>
                $!data.getAttachment("24.4")
            </td>
        </tr>
    </table>
    <p>
        <button class="print" onclick="window.print()">Print This Page</button>
    </p>

</div>
<div>
    #if ($data.iagree)
        <input type="checkbox" id="iagree" name="iagree" checked disabled>
    #else
        <input type="checkbox" id="iagree" name="iagree" disabled>
    #end
    I myself is liable for prosecution for false information.
</div>
</body>
</html>