<html>
<head>
    <title>
      $data.applicationName
    </title>
    <style>
        html, body {height:100%; width:100%; font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
        body {font-family: arial, sans-serif; font-size: 14px; color:#333; background-color:#fff; padding: 0; margin: 0;}

        .container-fluid {max-width: 1230px; padding-top: 20px; padding-bottom: 20px; margin: 0 auto;}
        h1 {font-size: 22px; padding: 0 0 10px 0; font-family:Times New Roman, arial, serif; margin: 0; text-align: center; color: #000; text-transform: uppercase; font-weight:normal;}
        h2 {font-size: 20px; color: #000; text-transform: uppercase; padding:25px 0 10px; font-weight:normal;}
        .hr {border-bottom: 1px dotted #333; height: 2px; width: 100%; margin: 10px 0;}
        p {padding-bottom: 20px; line-height: 22px;}
        table { border-collapse: collapse; border-spacing: 0;}

        .tableCss {margin: 10px -10px; width: 100%;}
        .tableCss th, .tableCss td {width: 33.3333%; padding:10px; line-height:normal; text-align: left; border: 0 !important;}
        .tableCss td.colSpa-66  {width: 66.6666%;}
        .tableCss td.colSpa-100  {width: 100%;}
        .tableCss td > div {font-weight: bold; padding-bottom: 15px;}
        .tableCss td > div > span {font-weight: normal; display: block; padding-top: 5px; color: #999;}
        .tableCss tr:nth-child(odd) th { background-color: #f2f2f2; }
        .tableCss tr:nth-child(even) th { background-color: #ffffff;}

        .tableFormat {margin: 10px 0; width: 100%; }
        .tableFormat th, .tableFormat td {padding:10px; line-height:normal; text-align: left;}

        .firstBottom-tl {border: 1px solid #999 !important; /*margin:0 10px;*/ }
        .firstBottom-tl tr > th {border-bottom: 1px solid #999;}
        .firstBottom-tl th {background-color: #F1F1F1;}
        .topBorder > td {border-top: 1px solid #999;}
        .firstBottom-tl tr > th:first-child {border-right:1px solid #999;}
        .firstBottom-tl tr > td:first-child {border-right:1px solid #999;}

        .print {border: 0; background: #333; color: #fff; padding: 10px 15px; cursor: pointer;}

        @media print {
            .container-fluid { width: 100%;}
            table {page-break-inside:auto;}
            tr{ page-break-inside:avoid; page-break-after:auto }
        }
    </style>


</head>
<body>
<div class="container-fluid">

    <h1>CHIEF ELECTRICAL INSPECTOR AND COLLECTOR OF ELECTRICITY DUTY
        <div>$data.applicationName</div>
    </h1>

    <div style="text-align: right;">
        Date:<script> document.write(new Date().toLocaleDateString("en-GB")); </script>
    </div>
    <div class="hr"></div>

    <table class="tableCss">
        <tr>
            <td>
                <div> 1. Application for only manteinance of lift or escalator</div>
              $!data.liftEscalatorType
            </td>
            <td>
                <div>2. Name of Firm or agency or company</div>
              $!data.agencyName
            </td>
            <td></td>
        </tr>
    </table>
    <div class="hr"></div>

    <table class="tableCss">
        <tr>
            <td>
                <div>3. Legal status of the firm or agency or company</div>
              $!data.agencyLegalStatus
            </td>
            <td>
                <div>3.1. Year of establishment</div>
              $!data.establishmentYear
            </td>
            <td></td>
        </tr>
    </table>
    <h3>3.2 DETAIL LEGAL STATUS OF THE FIRM OR AGENCY OR COMPANY</h3>
    <table class="tableFormat firstBottom-tl">
        <tr>
            <th>Sn No.</th>
            <th>Partner Name</th>
        </tr>
      #foreach( $!alsd in $!data.agencyLegalStatusDetails)
          <tr class="topBorder">
              <td>$velocityCount</td>
              <td>$!alsd.partnerName</td>
          </tr>
      #end
    </table>

    <table class="tableCss">
        <tr>
            <td>
                <div>Attach Document</div>
              #if($!data.agencyLegalStatus == 'PROPRIETORSHIP')
                  <div><span>3.3 Government Id Proof</span></div>
                $!data.getAttachment("3.3")
              #elseif($!data.agencyLegalStatus == 'PARTNERSHIP')
                  <div><span>3.3 Partnership deed</span></div>
                $!data.getAttachment("3.3")
              #elseif($!data.agencyLegalStatus == 'PUBLIC' || $!data.agencyLegalStatus == 'PRIVATE')
                  <div><span>3.3 Artical Memorandum Association</span></div>
                $!data.getAttachment("3.3")
              #end
            </td>
        </tr>
    </table>

    <div class="hr"></div>
    <h3>4. Business Address</h3>
    <table class="tableCss">
        <tr>
            <td>
                <div>4.1 House No. / Flat No. / Block No.</div>
              $!data.businessAddress.houseNo
            </td>
            <td>
                <div>4.2 Building name & Land mark</div>
              $!data.businessAddress.buildingName
            </td>
            <td>
                <div>4.3 State</div>
              $!data.businessAddress.state
            </td>
        </tr>
        <tr>
            <td>
                <div>4.4 District</div>
              $!data.businessAddress.district
            </td>
            <td>
                <div>4.5  Taluka</div>
              $!data.businessAddress.talukaName
            </td>
            <td>
                <div>4.6 Village / City</div>
                $!data.businessAddress.village
            </td>
        </tr>
        <tr>
            <td>
                <div>4.7 Pincode</div>
                $!data.businessAddress.pincode
            </td>
            <td>
                <div>4.8 Email</div>
              $!data.businessAddress.businessEmail
            </td>
            <td>
                <div>4.9  Mobile No.</div>
              $!data.businessAddress.businessContactNo
            </td>
        </tr>
        <tr>
            <td>
                <div>4.10 Website address</div>
                $!data.businessAddress.businessWebsite
            </td>
            <td>
                <div><span>4.11 Ownership or Occupancy rights proof</span></div>
              #set($x= "4.11."+$!data.businessAddress.id);
              $!data.getAttachment($x)
            </td>
        </tr>
    </table>

    <div class="hr"></div>
    <h3>4. Branch Office Address</h3>
  #foreach( $!branchAddress in $!data.branchAddress)
      <table class="tableCss">
          <tr>
              <td>
                  <div>5.1 House No. / Flat No. / Block No.</div>
                $!branchAddress.houseNo
              </td>
              <td>
                  <div>5.2 Building name & Land mark</div>
                $!branchAddress.buildingName
              </td>
              <td>
                  <div>5.3 State</div>
                $!branchAddress.state
              </td>
          </tr>
          <tr>
              <td>
                  <div>5.4 District</div>
                $!branchAddress.district
              </td>
              <td>
                  <div>5.5  Taluka</div>
                $!branchAddress.talukaName
              </td>
              <td>
                  <div>5.6 Village / City</div>
                  $!branchAddress.village
              </td>
          </tr>
          <tr>
              <td>
                  <div>5.6 Pincode</div>
                  $!branchAddress.pincode
              </td>
              <td>
                  <div>5.7 Email</div>
                $!branchAddress.branchEmail
              </td>
              <td>
                  <div>5.8  Mobile No.</div>
                $!branchAddress.branchContactNo
              </td>
          </tr>
          <tr>
              <td>
                  <div>5.9 Website address</div>
                  $!branchAddress.branchWebsite
              </td>
              <td>
                  <div><span>5.11 Ownership or Occupancy rights proof</span></div>
                #set($x= "5.11."+$!branchAddress.id);
                $!data.getAttachment($x)
              </td>
          </tr>
      </table>
  #end
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td>
                <div>6.1 Contact Email</div>
              $!data.contactEmail
            </td>
            <td>
                <div>6.2 Contact Number</div>
              $!data.contactNo
            </td>
            <td>
                <div>7. Is Authorization Certificate Issued?</div>
              $!data.isAuthorizationCertificateIssued
            </td>
        </tr>

    </table>
    <div class="hr"></div>

    <table class="tableCss">
        <tr>
            <td>
                <div>7.1 Authorization Number</div>
              $!data.authorizationNo
            </td>
            <td>
                <div>7.2 Date Of Certificate Of Authorization</div>
              $!data.authorizationCertificateDate
            </td>
            <td>
                <div><span>7.3 Copy of authorization certificate</span></div>
              $!data.getAttachment("7.3")
            </td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td>
                <div><span>7.4 Detail of erection or manteinance activities taken under by the company</span></div>
              $!data.getAttachment("7.4")
            </td>
            <td>
                <div><span>7.5 Company catalogue</span></div>
              $!data.getAttachment("7.5")
            </td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td>
                <div>8. Contractor License No.</div>
              $!data.registrationNumberElectricalContractor
            </td>
            <td>
                <div><span>8.1 Copy of electrical contractor license</span></div>
              $!data.getAttachment("7.4")
            </td>
            <td>
                <div><span>8.2 Copy of Form “I” verified by authority (All Pages)</span></div>
              $!data.getAttachment("7.5")
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <div><span>9.1 Attach scan copy of original solvency certificate from nationalized bank</span></div>
              $!data.getAttachment("9.1")
            </td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td>
                <div>9.2 Name of the Bank</div>
              $!data.bankName
            </td>
            <td>
                <div>9.3 Branch Name</div>
              $!data.branchName
            </td>
            <td>
                <div>9.4 Issue date</div>
              $!data.issueDate
            </td>
        </tr>
        <tr>
            <td>
                <div>9.5 Amount</div>
              $!data.amount
            </td>
            <td>
                <div>9.6 Bank Address</div>
              $!data.bankAddress
            </td>
            <td>
            </td>
        </tr>
    </table>
    <div class="hr"></div>
    <table class="tableCss">
        <tr>
            <td colspan="3">
                <div>10. DETAILS OF ENTIRE STAFF EMPLOYED</div>
            </td>
        </tr>
    </table>

    <table class="tableFormat firstBottom-tl">
        <tr>
            <th>List of employee</th>
            <th>Name</th>
            <th>Qualification</th>
            <th>Designation</th>
            <th>Joining date</th>
            <th>Exit date</th>
            <th>Attachment</th>
        </tr>
      #foreach( $!staffEmployees in $!data.staffEmployees)
          <tr class="topBorder">
              <td>$!staffEmployees.employee</td>
              <td>$!staffEmployees.name</td>
              <td>$!staffEmployees.qualification</td>
              <td>$!staffEmployees.designation</td>
              <td>$!data.formatDate($!staffEmployees.joiningDate)</td>
              <td>$!data.formatDate($!staffEmployees.exitDate)</td>
              <td>
                #set($x="10.1."+$staffEmployees.id)
                    $!data.getAttachment($x)
              </td>
          </tr>
      #end
    </table>
    <h2>11. Testing Instruments</h2>
    <table class="tableFormat firstBottom-tl">
        <tr>
            <th>Sn No.</th>
            <th>Machine Name</th>
            <th>Make</th>
            <th>Number</th>
            <th>Serial Number</th>
            <th>Remarks</th>
        </tr>
      #foreach( $!instrument in $!data.testingInstruments)
          <tr class="topBorder">
              <td>$velocityCount</td>
              <td>$!instrument.machineName</td>
              <td>$!instrument.make</td>
              <td>$!instrument.number</td>
              <td>$!instrument.serialNumber</td>
              <td>$!instrument.remarks</td>
          </tr>
      #end
    </table>

    <div class="hr"></div>

    <h2>12. Safety Gadgets</h2>
    <table class="tableFormat firstBottom-tl">
        <tr>
            <th>Sn No.</th>
            <th>Name</th>
            <th>Make</th>
            <th>Number</th>
            <th>Remarks</th>
        </tr>
      #foreach( $!gadget in $!data.safetyGadgets)
          <tr class="topBorder">
              <td>$velocityCount</td>
              <td>$!gadget.name</td>
              <td>$!gadget.make</td>
              <td>$!gadget.number</td>
              <td>$!gadget.remarks</td>
          </tr>
      #end
    </table>

    <table class="tableCss">
        <tr>
            <div>13. Remark</div>
              $!data.remarks
            </td>
        </tr>
    </table>

    <p>
        <button class="print" onclick="window.print()">Print This Page</button>
    </p>

</div>
</body>
</html>