<html>
<head>
    <title>$!data.applicationName</title>
    <style>
        html, body {height:100%; width:100%; font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
        body {font-family: arial, sans-serif; font-size: 14px; color:#333; background-color:#fff; padding: 0; margin: 0;}

        .container-fluid {max-width: 1230px; padding: 20px; margin: 0 auto;}

        h2 {font-size: 20px; color: #000; text-transform: uppercase; padding:25px 0 10px; font-weight:normal;}
        .hr {border-bottom: 1px dotted #333; height: 2px; width: 100%; margin: 10px 0;}
        p {padding-bottom: 20px; line-height: 22px;}
        table { border-collapse: collapse; border-spacing: 0;}

        .tableCss {margin: 10px -10px; width: 100%;}
        .tableCss th, .tableCss td {width: 33.3333%; padding:10px; line-height:normal; text-align: left; border: 0 !important;}
        .tableCss td.colSpa-66  {width: 66.6666%;}
        .tableCss td.colSpa-100  {width: 100%;}
        .tableCss td > div {font-weight: bold; padding-bottom: 15px;}
        .tableCss td > div > span {font-weight: normal; display: block; padding-top: 5px; color: #999;}
        .tableCss tr:nth-child(odd) th { background-color: #f2f2f2; }
        .tableCss tr:nth-child(even) th { background-color: #ffffff;}

        .tableFormat {margin: 10px 0; width: 100%; }
        .tableFormat th, .tableFormat td {padding:10px; line-height:normal; text-align: left;}

        .firstBottom-tl {border: 1px solid #999 !important; /*margin:0 10px;*/ }
        .firstBottom-tl tr > th {border-bottom: 1px solid #999;}
        .firstBottom-tl th {background-color: #F1F1F1;}
        .topBorder > td {border-top: 1px solid #999;}
        .firstBottom-tl tr > th:first-child {border-right:1px solid #999;}
        .firstBottom-tl tr > td:first-child {border-right:1px solid #999;}

        .print {border: 0; background: #333; color: #fff; padding: 10px 15px; cursor: pointer;}


        .tableLine {width: 100%;}
        .tableLine th, .tableLine td {padding:10px; line-height:normal; text-align: left; border:1px solid #999;}
        .tableLine th {background-color: #F1F1F1;}
        .ac {text-align: center !important;}


        @media print {
        .container-fluid { width: 80%; padding: 0;}
        table {page-break-inside:auto;}
         tr{ page-break-inside:avoid; page-break-after:auto;}
        }
    </style>
</head>
<body>
    #if($data.createdBy == 'WIREMAN')
        #set( $userType = 'WIREMAN')
    #else
        #set( $userType = 'SUPERVISOR')
    #end
    <div class="container-fluid">
        <h2><center>CHIEF ELECTRICAL INSPECTOR AND COLLECTOR OF ELECTRICITY DUTY
            <br></br>
            FORM A2* "APPLICATION FOR ADMISSION TO EXAMINATION FOR REPEATER CANDIDATE ELECTRICAL $userType ."
        </center>
        </h2>
        <div style="text-align: right;">
            Date:<script> document.write(new Date().toLocaleDateString("en-GB")); </script>
        </div>
        <table class="tableCss">
            <tr>
                <td colspan="3">
                    <div>1. Surename</div>
                    $!data.surname
                </td>
                <td>
                    <div>2. First Name</div>
                    $!data.firstName
                </td>
                <td>
                    <div>3. Father / Husband Or Middle Name</div>
                    $!data.middleName
                </td>
            </tr>
        </table>

        <div class="hr"></div>

        <table class="tableCss">
            <tr>
                <td>
                    <div>4. Date Of Birth (As per school leaving certificate)</div>
                    $!data.formatDate($!data.birthDate)
                </td>
                <td colspan="2">
                    <div>Attach Document<span>4.1 School leaving certificate or matriculation certificate </span></div>
                    $!data.getAttachment("4.1")
                </td>
            </tr>
        </table>

        <div class="hr"></div>

        <table class="tableCss">
            <tr>
                <td>
                    <div>5. Age</div>
                    $!data.age
                </td>
                <td>
                    <div>6. Exam Type</div>
                    $!data.examType
                </td>
                <td>&nbsp;</td>
            </tr>

            <tr>
                <td colspan="3">
                    <div>EXAMINATION REQUIREMENTS (For Reappearing In Examination)</div>
                </td>
            </tr>

            <tr>
                <td>
                    <div>7. Previous Exam Roll No.</div>
                    $!data.prevRollNo
                </td>
                <td>
                    <div>8. Previous Exam Centre</div>
                    $!data.prevCentre
                </td>
                <td>
                    <div>9. Previous Exam Date/Month & Year</div>
                    $!data.formatDate($!data.prevExamDateMonthYear)
                </td>
            </tr>

            <tr>
                <td>
                    <div>10. Preferred Examination Centre</div>
                    $!data.preferredExamCentre
                </td>
                <td>
                    <div>11. Preferred Mode Of Language</div>
                    $!data.preferredLangMode
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>

        <div class="hr"></div>

        <table class="tableCss">
            <tr>
                <td>
                    <div>12. Upload Photograph<span>12.1 Attach a passport size photograph</span></div>
                    <img width="150" height="150" src="$!data.getImageInBase64("12.1")" alt="$!data.getAttachment("12.1")">
                </td>
                <td>
                    <div>13. Upload Signature<span>13.1 Attach a scan copy of signature</span></div>
                    <img width="150" height="150" src="$!data.getImageInBase64("13.1")" alt="$!data.getAttachment("13.1")">
                </td>
                <td>&nbsp;</td>
            </tr>

        </table>

        <div class="hr"></div>

        <p>
            #if ($data.iagree)
                <input type="checkbox" id="iagree" name="iagree" checked disabled>
            #else
                <input type="checkbox" id="iagree" name="iagree" disabled>
            #end

            I hereby declare that the particuler stated above are correct and true to the best my knowledge.</p>

        <p>
            <button class="print" onclick="window.print()">Print This Page</button>
        </p>
    </div>
</body>
</html>